
.title {
	text-align: center;
	margin-bottom: 20px;
}

body {
	background-color: #7395AE;
}

.container {
	background-color: #E9ECEF;
	padding: 50px;
	border-radius: 10px;
	margin-bottom: 10px;
}

pre {
	background: white;
	border-radius: 15px;
	font-size:	1em;
}

.note {
	margin: -15px, 0, 20px, 0;
	border: 0, 0, 0, 5px;
	padding: 10px, 10px, 10px, 25px;
	border-left-width: 5px;
	border-left-style: solid;
	background: #FFF3D4;
	border-color: #f6b73c;
}

code {
	font-family: 'Courier New', Courier, monospace;
	color: black;
	background-color: white;
	font-size:	1em;
	padding: .25em;
}

.activity {
	background: black;
	font-size: 1.1em;
	color: white;
	text-align: center;

}

input {
	font-size: 1em;
	margin: 10px 1px 0;
  }

  .card	{
	  background: rgb(194, 222, 243);
	  border-radius: 10px;
  }